# Ejemplo de unir múltiples CSV

In [4]:
import pandas as pd
import glob

path = r'./' 
all_files = glob.glob(path + "/*.csv")

lista = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    lista.append(df)

frame = pd.concat(lista, axis=0, ignore_index=True)
frame

      animal  uniq_id  water_need        food
0   elephant   1001.0       500.0         NaN
1   elephant   1002.0       600.0         NaN
2   elephant   1003.0       550.0         NaN
3      tiger   1004.0       300.0         NaN
4      tiger   1005.0       320.0         NaN
5      tiger   1006.0       330.0         NaN
6      tiger   1007.0       290.0         NaN
7      tiger   1008.0       310.0         NaN
8      zebra   1009.0       200.0         NaN
9      zebra   1010.0       220.0         NaN
10     zebra   1011.0       240.0         NaN
11     zebra   1012.0       230.0         NaN
12     zebra   1013.0       220.0         NaN
13     zebra   1014.0       100.0         NaN
14     zebra   1015.0        80.0         NaN
15      lion   1016.0       420.0         NaN
16      lion   1017.0       600.0         NaN
17      lion   1018.0       500.0         NaN
18      lion   1019.0       390.0         NaN
19  kangaroo   1020.0       410.0         NaN
20  kangaroo   1021.0       430.0         NaN
21  kangaroo   1022.0       410.0         NaN
22  elephant      NaN         NaN  vegetables
23     tiger      NaN         NaN        meat
24  kangaroo      NaN         NaN  vegetables
25     zebra      NaN         NaN  vegetables
26   giraffe      NaN         NaN  vegetables

# Ejemplo de unir múltiples excels

In [13]:
import os
import pandas as pd

# path = os.getcwd() # Detectar automaticamente la ruta
path = "./"
files = os.listdir(path)

# Filtramos por los ficheos xlsx
files_xls = [f for f in files if f[-4:] == 'xlsx']
print("Ficheros excel encontrados: ", files_xls)

# Inicializamos un dataframe vacio
df = pd.DataFrame()

for f in files_xls:
    data = pd.read_excel(f) # pd.read_excel(f, 'Hoja1')
    df = df.append(data).reset_index(drop = True)
    
df

Ficheros excel encontrados:  ['ventas_enero.xlsx', 'ventas_febrero.xlsx']

        fecha  ventas
0  2020-01-01     694
1  2020-01-02     686
2  2020-01-03     958
3  2020-01-04     100
4  2020-01-05     881
5  2020-01-06     570
6  2020-01-07     250
7  2020-01-08     999
8  2020-01-09     950
9  2020-01-10     352
10 2020-01-11     959
11 2020-01-12     111
12 2020-01-13     843
13 2020-01-14     764
14 2020-01-15     607
15 2020-01-16     772
16 2020-01-17     383
17 2020-01-18     801
18 2020-01-19     798
19 2020-01-20     719
20 2020-01-21     352
21 2020-01-22     190
22 2020-01-23     853
23 2020-01-24     842
24 2020-01-25     693
25 2020-01-26     759
26 2020-01-27     384
27 2020-01-28     712
28 2020-01-29     231
29 2020-01-30     640
30 2020-01-31     670
31 2020-02-01     826
32 2020-02-02     438
33 2020-02-03     211
34 2020-02-04     730
35 2020-02-05     544
36 2020-02-06     410
37 2020-02-07     816
38 2020-02-08     152
39 2020-02-09     870
40 2020-02-10     919
41 2020-02-11     989
42 2020-02-12     923
43 2020-02-13     792
44 2020-02-14     401
45 2020-02-15     841
46 2020-02-16     296
47 2020-02-17     330
48 2020-02-18     662
49 2020-02-19     185
50 2020-02-20     192
51 2020-02-21     322
52 2020-02-22     406
53 2020-02-23     783
54 2020-02-24     453
55 2020-02-25     295
56 2020-02-26     722
57 2020-02-27     588
58 2020-02-28     812
59 2020-02-29     200